<div fxFill fxLayout="column" style="background-color: black">
  <div class="rotation">
    <div class="bg-images" [@slideAnimation]="animationState">
      <div class="unit" *ngFor="let image of imagePaths">
        <img
          [src]="image"
          [width]="imageWidth"
          [height]="imageHeight"
          (click)="click(image)"
        />
      </div>
    </div>

    <img class="player" src="assets/image/stage3/mobile-player.png" />

    <div class="playing" [@animation]="animationState">
      <div
        [class]="
          animationState === 'state3' ? 'song-group active' : 'song-group'
        "
      >
        <img
          src="assets/image/stage3/500x500.jpg"
          width="278"
          height="278"
          (click)="click(imagePaths[0])"
        />
      </div>

      <div
        [class]="
          animationState === 'state4' ? 'song-group active' : 'song-group'
        "
      >
        <img
          src="assets/image/stage3/500x500 (1).jpg"
          width="278"
          height="278"
          [routerLink]="['../Song']"
          (click)="click(imagePaths[1])"
        />
      </div>

      <div
        [class]="
          animationState === 'initial' || animationState === 'state5'
            ? 'song-group active'
            : 'song-group'
        "
      >
        <img
          src="assets/image/stage3/500x500 (2).jpg"
          width="278"
          height="278"
          [routerLink]="['../Song']"
          (click)="click(imagePaths[2])"
        />
      </div>

      <div
        [class]="
          animationState === 'state1' ? 'song-group active' : 'song-group'
        "
      >
        <img
          src="assets/image/stage3/500x500 (3).jpg"
          width="278"
          height="278"
          [routerLink]="['../Song']"
          (click)="click(imagePaths[3])"
        />
      </div>

      <div
        [class]="
          animationState === 'state2' ? 'song-group active' : 'song-group'
        "
      >
        <img
          src="assets/image/stage3/500x500 (4).jpg"
          width="278"
          height="278"
          [routerLink]="['../Song']"
          (click)="click(imagePaths[4])"
        />
      </div>
    </div>
  </div>

  <div class="slideshow">
    <div class="moving">
      <div class="group" *ngFor="let image of smallImagePaths">
        <img
          [src]="image"
          [width]="smallImageWidth"
          [height]="smallImageHeight"
        />
      </div>
    </div>
  </div>
</div>
