<nb-layout>
  <nb-layout-column
    class="open"
    [style]="showOpenBtn ? 'z-index: 9999' : ''"
    *ngIf="showOpenBtn"
  >
    <div class="menu-open-button">
      <button nbButton (click)="toggleMenu()">
        <nb-icon icon="arrowhead-right-outline"> </nb-icon>
      </button>
    </div>
  </nb-layout-column>

  <nb-layout-column
    class="left"
    [@slideAnimation]="menuCollapsed ? 'collapsed' : 'expanded'"
    (@slideAnimation.start)="onAnimationStart($event)"
    (@slideAnimation.done)="onAnimationDone($event)"
  >
    <div class="menu-container">
      <button class="menu-close-button" nbButton (click)="toggleMenu()">
        <nb-icon icon="arrowhead-left-outline"> </nb-icon>
      </button>

      <nb-menu class="menu" [items]="items"> </nb-menu>
    </div>
  </nb-layout-column>

  <nb-layout-column class="right">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
