<div fxFill fxLayout="column" style="background-color: black">

  <div class="rotation">
    <div class="bg-images" [@slideAnimation]="animationState">
      <div class="unit">
        <img
          src="assets/image/stage3/500x500.jpg"
          alt="訣愛·盡 - 现场"
          width="278"
          height="278"
        />
      </div>
      <div class="unit">
        <img
          src="assets/image/stage3/500x500 (1).jpg"
          alt="訣愛·盡 - 现场"
          width="278"
          height="278"
        />
      </div>
      <div class="unit">
        <img
          src="assets/image/stage3/500x500 (2).jpg"
          alt="訣愛·盡 - 现场"
          width="278"
          height="278"
        />
      </div>
      <div class="unit">
        <img
          src="assets/image/stage3/500x500 (3).jpg"
          alt="訣愛·盡 - 现场"
          width="278"
          height="278"
        />
      </div>
      <div class="unit">
        <img
          src="assets/image/stage3/500x500 (4).jpg"
          alt="訣愛·盡 - 现场"
          width="278"
          height="278"
        />
      </div>

      <div class="unit">
        <img
          src="assets/image/stage3/500x500.jpg"
          alt="訣愛·盡 - 现场"
          width="278"
          height="278"
        />
      </div>
      <div class="unit">
        <img
          src="assets/image/stage3/500x500 (1).jpg"
          alt="訣愛·盡 - 现场"
          width="278"
          height="278"
        />
      </div>
      <div class="unit">
        <img
          src="assets/image/stage3/500x500 (2).jpg"
          alt="訣愛·盡 - 现场"
          width="278"
          height="278"
        />
      </div>
      <div class="unit">
        <img
          src="assets/image/stage3/500x500 (3).jpg"
          alt="訣愛·盡 - 现场"
          width="278"
          height="278"
        />
      </div>
      <div class="unit">
        <img
          src="assets/image/stage3/500x500 (4).jpg"
          alt="訣愛·盡 - 现场"
          width="278"
          height="278"
        />
      </div>
    </div>
    <img class="player" src="assets/image/stage3/mobile-player.png" />
    <div class="playing" [@test]="animationState">
      <div
        [class]="
          animationState === 'state3' ? 'song-group active' : 'song-group'
        "
      >
        <img
          src="assets/image/stage3/500x500.jpg"
          alt="訣愛·盡 - 现场"
          width="278"
          height="278"
        />
      </div>
      <div
        [class]="
          animationState === 'state4' ? 'song-group active' : 'song-group'
        "
      >
        <img
          src="assets/image/stage3/500x500 (1).jpg"
          alt="訣愛·盡 - 现场"
          width="278"
          height="278"
        />
      </div>
      <div
        [class]="
          animationState === 'initial' || animationState === 'state5'
            ? 'song-group active'
            : 'song-group'
        "
      >
        <img
          src="assets/image/stage3/500x500 (2).jpg"
          alt="訣愛·盡 - 现场"
          width="278"
          height="278"
        />
      </div>
      <div
        [class]="
          animationState === 'state1' ? 'song-group active' : 'song-group'
        "
      >
        <img
          src="assets/image/stage3/500x500 (3).jpg"
          alt="訣愛·盡 - 现场"
          width="278"
          height="278"
        />
      </div>
      <div
        [class]="
          animationState === 'state2' ? 'song-group active' : 'song-group'
        "
      >
        <img
          src="assets/image/stage3/500x500 (4).jpg"
          alt="訣愛·盡 - 现场"
          width="278"
          height="278"
        />
      </div>
    </div>
  </div>

  <div style="height: 1000px"></div>
</div>
