// @keyframes slideAnimation {
//   0% {
//     transform: translateX(0%);
//   }
//   20% {
//     transform: translateX(-10%);
//   }
//   40% {
//     transform: translateX(-20%);
//   }
//   60% {
//     transform: translateX(-30%);
//   }
//   80% {
//     transform: translateX(-40%);
//   }
//   100% {
//     transform: translateX(-50%);
//   }
// }

.rotation {
  display: flex;
  justify-content: center;
  width: 1510px;
  margin: 10px auto;
  position: relative;
  overflow: hidden;

  .bg-images {
    display: flex;
    position: absolute;
    overflow: hidden;
    height: 278px;
    top: 70px;
    left: calc(50% - 755px);
    z-index: 0;

    // animation-name: slideAnimation;
    // animation-duration: 15s;
    // animation-timing-function: ease-in-out;
    // animation-iteration-count: infinite;

    .unit {
      width: 278px;
      height: auto;
      margin-right: 30px;
      position: relative;

      &:nth-child(1) {
        outline: 10px solid red;
      }
    }

  }

  // .player {
  //   height: auto;
  //   position: relative;
  //   width: 303px;
  //   z-index: 1;
  // }
}
