<div fxFill fxLayout="row" fxLayoutGap="8px">
  <div fxFlex="20" fxLayout="column" fxLayoutGap="4px">
    <nb-form-field>
      <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
      <input
        nbInput
        type="text"
        placeholder="What needs to be done?"
        [(ngModel)]="newTaskName"
        (keyup.enter)="addTask()"
      />
    </nb-form-field>

    <nb-card-header> 任務清單 </nb-card-header>
    <nb-list class="list">
      <nb-list-item
        fxLayout="row"
        fxLayoutGap="8px"
        *ngFor="let task of taskList; let i = index"
        [class.completed]="task.completed"
        [class.editing]="task.editing"
      >
        <nb-checkbox
          [disabled]="taskObj?.start"
          (checkedChange)="completedTask(task, $event)"
        ></nb-checkbox>

        <div
          #taskList
          fxFlex
          fxLayoutGap="8px"
          fxLayoutAlign="start center"
          class="view"
          (click)="getTask(task)"
          (dblclick)="editTask(task)"
        >
          <label> {{ task.itemName }}</label>
          <div fxFlex fxLayoutAlign="end">
            <button
              nbButton
              [disabled]="taskObj?.start"
              (click)="removeTask(task)"
            >
              <nb-icon icon="close-outline"></nb-icon>
            </button>
          </div>
        </div>

        <input
          *ngIf="task.editing"
          #editItem
          class="edit"
          [value]="task.itemName"
          (keyup.enter)="updateTask(task, editItem.value)"
          (keyup.esc)="updateTask(task, editItem.value)"
        />
      </nb-list-item>
    </nb-list>
  </div>

  <div fxFlex="75" fxLayoutAlign="center center">
    <div
      [class]="taskObj?.breakStatus ? 'circle break' : 'circle'"
      fxLayout="column"
    >
      <p class="task">{{ taskObj?.itemName }}</p>
      <p class="time">{{ nowMin + ":" + nowSec }}</p>

      <div class="control">
        <div fxLayout="row" fxLayoutGap="8px">
          <button
            nbButton
            ghost
            size="giant"
            [disabled]="!taskObj?.itemName || taskObj?.completed"
            (click)="taskObj?.start ? pauseTimer(taskObj) : startTimer(taskObj)"
          >
            <nb-icon
              [icon]="taskObj?.start ? 'pause-circle-outline' : 'arrow-right'"
            ></nb-icon>
          </button>

          <button
            nbButton
            ghost
            size="giant"
            [disabled]="!taskObj?.itemName || taskObj?.completed"
            (click)="skip(taskObj)"
          >
            <nb-icon icon="skip-forward-outline"></nb-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div fxFlex="5" fxLayout="column" fxLayoutGap="8px">
    <button nbButton>
      <nb-icon icon="list"></nb-icon>
    </button>
    <button nbButton>
      <nb-icon icon="bar-chart"></nb-icon>
    </button>
    <button nbButton>
      <nb-icon icon="settings-2"></nb-icon>
    </button>
  </div>
</div>


    <button nbButton status="basic">basic</button>
    <button nbButton status="primary">Primary</button>
    <button nbButton status="success">Success</button>
    <button nbButton status="info">Info</button>
    <button nbButton status="warning">Warning</button>
    <button nbButton status="danger">Danger</button>
    <div class="control-status-example">
      <button nbButton status="control">Control</button>
    </div>


