@mixin tool($bg-color, $color) {
  @extend %tool_same;

  background-color: $bg-color;
  color: $color;
}

%tool_same {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

@mixin addNote($background-color, $color) {
  @extend %addNote_same;

  background-color: $background-color;
  color: $color;
}

%addNote_same {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 220px;
  height: 50px;
  margin: 20px auto;
  font-size: xx-large;

  border-radius: 5px;

  nb-icon {
    width: 30px;
    height: 30px;
  }
}

@mixin modeBtn($bg-color) {
  @extend %modeBtn_same;

  border: if($bg-color == #2f419b, 2px solid #ffffff, none);
}

%modeBtn_same {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

%title {
  font-size: xx-large;
}

%mode {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

%menu {
  height: 600px;
  .menuItem {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 40px auto 40px auto;
    font-size: x-large;
  }
}

//--------------
@mixin list($bg-color) {
  background-color: $bg-color;
}

%list_same {
  height: 100%;
  padding: 20px 0 20px;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;

  .search {
    width: 284px;
    margin: auto;
  }

  .filter {
    display: flex;
    flex-direction: row;
    place-content: center space-between;
    align-items: center;
    margin: auto;
    font-size: xx-large;

    width: 284px;
    height: 80px;
  }

  .showType {
    background-color: unset;
    border: none;
  }

  nb-icon {
    width: 25px;
    height: 25px;
  }
}

//--------------

$tool-text-light: #ffffff;
$tool-bg-light: #2f419b;
$list-bg-light: #f4f6f7;
$editor-bg-light: #ffffff;

$bg-night: #26252a;
$list-bg-night: #343338;
$text-night: #ffffff;

.light {
  &.tool {
    @include tool($tool-bg-light, $tool-text-light);

    .title {
      @extend %title;
    }

    .addNote {
      @include addNote(#ffffff, #2f419b);
    }

    .menu {
      @extend %menu;
    }

    .mode {
      @extend %mode;

      .modeBtn {
        @include modeBtn($bg-night);

        &.sunBtn {
          background-color: #ffffff;
          .sun {
            color: #2f419b;
          }
        }

        &.moonBtn {
          background-color: #2f419b;
          .moon {
            color: #ffffff;
          }
        }
      }
    }
  }

  &.list {
    @include list($list-bg-light);

    @extend %list_same;

    input {
      background-color: #eeeeee;
    }
  }

  &.editor {
    background-color: $editor-bg-light;
  }
}

.night {
  &.tool {
    @include tool($bg-night, $text-night);

    .title {
      @extend %title;
    }

    .addNote {
      @include addNote(#fed32c, #26252a);
    }

    .menu {
      @extend %menu;
    }

    .mode {
      @extend %mode;

      .modeBtn {
        @include modeBtn($bg-night);

        &.sunBtn {
          background-color: unset;
          .sun {
            color: #ffffff;
          }
        }

        &.moonBtn {
          background-color: #ffffff;
          .moon {
            color: #26252a;
          }
        }
      }
    }
  }

  &.list {
    @include list($list-bg-night);
    color: $text-night;

    @extend %list_same;

    input {
      background-color: $bg-night;
      color: $text-night;
    }
  }

  &.editor {
    background-color: $bg-night;
  }
}
