// 定義 mixin 來處理共用的樣式
@mixin tool($bg-color, $color) {
  @extend %tool_some;

  background-color: $bg-color;
  color: $color;
}

%tool_some {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

@mixin addNote($background-color, $color) {
  @extend %addNote_some;

  background-color: $background-color;
  color: $color;
}

%addNote_some {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 220px;
  height: 50px;
  margin: 20px auto;
  font-size: xx-large;

  border-radius: 5px;

  nb-icon {
    width: 30px;
    height: 30px;
  }
}

@mixin modeBtn($bg-color) {
  @extend %modeBtn_some;

  border: if($bg-color == #2f419b, 2px solid #ffffff, none);
}

%modeBtn_some {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

//--------------

%title {
  font-size: xx-large;
}

%mode {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

%menu {
  height: 600px;
  .menuItem {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 40px auto 40px auto;
    font-size: x-large;
  }
}

$tool-bg-light: #2f419b;
$list-bg-light: #f4f6f7;
$editor-bg-light: #ffffff;
$tool-text-light: #ffffff;

$bg-night: #26252a;
$list-bg-night: #343338;
$text-night: #ffffff;

.light {
  &.tool {
    @include tool($tool-bg-light, $tool-text-light);

    .title {
      @extend %title;
    }

    .addNote {
      @include addNote(#ffffff, #2f419b);
    }

    .menu {
      @extend %menu;
    }

    .mode {
      @extend %mode;

      .modeBtn {
        @include modeBtn($bg-night);

        &.sunBtn {
          background-color: #ffffff;
          .sun {
            color: #2f419b;
          }
        }

        &.moonBtn {
          background-color: #2f419b;
          .moon {
            color: #ffffff;
          }
        }
      }
    }
  }

  &.list {
    background-color: $list-bg-light;
    height: 100vh;
    padding: 20px 0 20px;
    border-right: 1px solid #d3d3d3;

    .search {
      width: 284px;
      margin: auto;

      input {
        background-color: #eeeeee;
      }
    }

    .filter {
      display: flex;
      flex-direction: row;
      place-content: center space-between;
      align-items: center;
      margin: auto;
      font-size: xx-large;

      width: 284px;
      height: 80px;
    }

    .showType {
      background-color: unset;
      border: none;
    }
  }

  &.editor {
    background-color: $editor-bg-light;
  }
}

.night {
  &.tool {
    @include tool($bg-night, $text-night);

    .title {
      @extend %title;
    }

    .addNote {
      @include addNote(#fed32c, #26252a);
    }

    .menu {
      @extend %menu;
    }

    .mode {
      @extend %mode;

      .modeBtn {
        @include modeBtn($bg-night);

        &.sunBtn {
          background-color: unset;
          .sun {
            color: #ffffff;
          }
        }

        &.moonBtn {
          background-color: #ffffff;
          .moon {
            color: #26252a;
          }
        }
      }
    }
  }

  &.list {
    background-color: $list-bg-night;
    color: $text-night;
    height: 100vh;
    padding: 20px 0 20px;
    border-right: 1px solid #d3d3d3;

    .search {
      width: 284px;
      margin: auto;

      input {
        background-color: $bg-night;
      }
    }

    .filter {
      display: flex;
      flex-direction: row;
      place-content: center space-between;
      align-items: center;
      margin: auto;
      font-size: xx-large;

      width: 284px;
      height: 80px;
    }

    .showType {
      background-color: unset;
      border: none;
    }

    ul {
      list-style: none;
      overflow-y: auto;
      height: calc(100% - 130px);
      padding: 15px;
      border-top: 1px solid #d3d3d3;

      li {
        cursor: pointer;
        position: relative;
        margin: auto;
        width: 275px;
        height: 250px;
        margin-bottom: 20px;
        border-radius: 5px 0 5px 5px;
        background-color: $bg-night;
        clip-path: polygon(0 0, 83% 0, 100% 17%, 100% 100%, 0 100%);

        &.active {
          border: 3px solid #fed32c;

          &::after {
            content: "";
            height: 70px;
            width: 4px;
            background-color: #fed32c;
            position: absolute;
            top: -16px;
            right: 20px;
            -webkit-transform: rotate(-47.5deg);
            transform: rotate(-47.5deg);
          }
        }

        .angle {
          position: absolute;
          top: -9px;
          right: -7px;
          width: 50px;
          height: 50px;
          border-radius: 5px;
          background-color: blue;
          -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.178);
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.178);
          -webkit-transition: 1s;
          transition: 1s;
          overflow: hidden;

          &::after {
            content: "";
            width: 50px;
            height: 50px;
            background: linear-gradient(120deg, #8fd3f4, #84fab0);
            position: absolute;
            top: -50px;
            left: 50px;
            z-index: 0;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            border-radius: 5px;
          }
        }
      }
    }
  }

  &.editor {
    background-color: $bg-night;
    // color: $text-night;
  }
}
