<div fxFill fxLayout="row">
  <div fxFlex="20" [class]="classMode('tool')">
    <div class="title">
      <span>FreeNote.</span>
    </div>

    <button class="addNote" (click)="onAddNote()">
      <nb-icon icon="plus-circle"> </nb-icon>
      <span>新增筆記</span>
    </button>

    <div class="menu">
      <ng-container *ngFor="let item of menu">
        <div class="menuItem" (click)="onFilterByType(item)">
          <nb-icon [icon]="item.icon"> </nb-icon>
          <span> {{ item.title }}</span>
        </div>
      </ng-container>
    </div>

    <div class="mode" fxLayoutGap="8px">
      <span>模式</span>

      <button class="modeBtn sunBtn" (click)="changeMode('light')">
        <nb-icon icon="sun-outline" class="sun"> </nb-icon>
      </button>

      <button class="modeBtn moonBtn" (click)="changeMode('night')">
        <nb-icon icon="moon-outline" class="moon"> </nb-icon>
      </button>
    </div>
  </div>

  <div fxFlex="21" [class]="classMode('list')">
    <nb-form-field class="search">
      <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
      <input
        type="text"
        nbInput
        [placeholder]="
          filterType === '標籤'
            ? '搜尋您的筆記(依標籤內容搜尋)'
            : '搜尋您的筆記(依標題搜尋)'
        "
        [(ngModel)]="filterInputValue"
        (blur)="onFilterByType(filterItem)"
      />
    </nb-form-field>

    <div class="filter">
      <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
        <span>{{ filterType }}</span>
        <nb-icon icon="arrow-ios-downward-outline"></nb-icon>
      </div>

      <button
        class="showType"
        [nbContextMenu]="showType"
        nbContextMenuTag="show"
      >
        <nb-icon [icon]="showTypeIcon + '-outline'"></nb-icon>
      </button>
    </div>

    <app-noteList
      [showType]="showTypeIcon"
      [noteList]="noteList"
      (selectedChange)="onSelectedChange($event)"
      (deleteNote)="onDeleteNote($event)"
    ></app-noteList>
  </div>

  <div fxFlex [class]="classMode('editor')">
    <app-editorForm
      fxFlex
      [selectedNote]="currentSelectedNote"
    ></app-editorForm>
  </div>
</div>
