<div fxFill fxLayout="column" fxLayoutGap="8px">
  <div fxFlex="5" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end">
    <button nbButton (click)="openReport()">
      <nb-icon icon="bar-chart"></nb-icon>Report
    </button>

    <button nbButton (click)="openSetting(dialog)">
      <nb-icon icon="settings-2"></nb-icon>Setting
    </button>
  </div>

  <div fxLayoutAlign="center center">
    <svg class="outer" height="540" width="540">
      <circle
        cx="270"
        cy="270"
        r="260"
        fill="white"
        fill-opacity="0"
        [attr.stroke]="taskObj?.break ? '#0b4c9d' : '#832143'"
        stroke-width="3"
      ></circle>
    </svg>

    <svg class="inner" height="520" width="520">
      <circle
        cx="260"
        cy="260"
        r="250"
        [attr.stroke]="taskObj?.break ? '#0b4c9d' : '#832143'"
        [attr.stroke-width]="taskObj ? 18 : 0"
        [attr.stroke-dashoffset]="taskObj?.dashoffset"
        [attr.stroke-dasharray]="1570"
      ></circle>
    </svg>

    <div [class]="taskObj?.break ? 'circle break' : 'circle'" fxLayout="column">
      <p class="task">{{ taskObj?.title }}</p>
      <p class="time">{{ nowMin + ":" + nowSec }}</p>

      <div class="control">
        <div fxLayout="row" fxLayoutGap="8px">
          <button
            nbButton
            ghost
            size="giant"
            [disabled]="taskObj?.done"
            (click)="
              taskObj?.conduct ? pauseTimer(taskObj) : startTimer(taskObj)
            "
          >
            <nb-icon
              [icon]="taskObj?.conduct ? 'pause-circle-outline' : 'arrow-right'"
            ></nb-icon>
          </button>

          <button
            nbButton
            ghost
            size="giant"
            [disabled]="taskObj?.done"
            (click)="skip(taskObj)"
          >
            <nb-icon icon="skip-forward-outline"></nb-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div fxFlex fxLayout="column" fxLayoutGap="4px">
    <nb-form-field>
      <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
      <input
        nbInput
        type="text"
        placeholder="What needs to be done?"
        [(ngModel)]="newTaskName"
        (keyup.enter)="addTask()"
      />
    </nb-form-field>

    <nb-card-header> 任務清單 </nb-card-header>
    <nb-tabset (changeTab)="onChangeTab($event)">
      <nb-tab fxFill tabTitle="未完成">
        <ng-container
          *ngTemplateOutlet="
            taskListTemplate;
            context: { tasks: incompleteTasks }
          "
        ></ng-container>
      </nb-tab>

      <nb-tab fxFill tabTitle="已完成">
        <ng-container
          *ngTemplateOutlet="
            taskListTemplate;
            context: { tasks: completedTasks }
          "
        ></ng-container>
      </nb-tab>
    </nb-tabset>

    <ng-template #taskListTemplate let-tasks="tasks">
      <nb-list fxFill class="list">
        <nb-list-item
          fxLayout="row"
          fxLayoutGap="8px"
          *ngFor="let task of tasks; let i = index"
          [class.completed]="task.done"
          [class.editing]="task.editMode && !task.done"
        >
          <nb-checkbox
            [checked]="task.done"
            [disabled]="task.conduct || task.done"
            (checkedChange)="completedTask(task, $event)"
          ></nb-checkbox>

          <div
            #taskList
            fxFlex
            fxLayoutGap="8px"
            fxLayoutAlign="start center"
            class="view"
            (click)="getTask(task)"
            (dblclick)="editTask(task)"
          >
            <label> {{ task.title }}</label>
            <div fxFlex fxLayoutAlign="end">
              <button
                nbButton
                [disabled]="task?.conduct"
                (click)="removeTask(task)"
              >
                <nb-icon icon="close-outline"></nb-icon>
              </button>
            </div>
          </div>

          <input
            *ngIf="task.editMode && !task.done"
            #editItem
            class="edit"
            [value]="task.title"
            (keyup.enter)="updateTask(task, editItem.value)"
            (keyup.esc)="updateTask(task, editItem.value)"
          />
        </nb-list-item>
      </nb-list>
    </ng-template>
  </div>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card accent="info">
    <nb-card-header>
      <font size="+2"><b>Setting</b></font>
    </nb-card-header>

    <nb-card-body fxLayout="column" fxLayoutGap="8px">
      <font size="+1"><b>Time</b></font>
      <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
        <span>Work Time</span>
        <nb-select [(selected)]="selectedWorkTime">
          <nb-option [value]="5">5 second</nb-option>
          <nb-option [value]="60">1 min</nb-option>
          <nb-option [value]="300">5 min</nb-option>
          <nb-option [value]="600">10 min</nb-option>
          <nb-option [value]="900">15 min</nb-option>
          <nb-option [value]="1200">20 min</nb-option>
          <nb-option [value]="1500">25 min</nb-option>
        </nb-select>
      </div>

      <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
        <span>Break Time</span>
        <nb-select [(selected)]="selectedBreakTime">
          <nb-option [value]="10">10 second</nb-option>
          <nb-option [value]="60">1 min</nb-option>
          <nb-option [value]="300">5 min</nb-option>
        </nb-select>
      </div>

      <font size="+1"><b>Music</b></font>
      <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
        <span>Work End Music</span>
        <nb-select [(selected)]="selectedWorkFinishMusic">
          <nb-option value="ring">ring</nb-option>
          <nb-option value="dripping">dripping</nb-option>
        </nb-select>
      </div>

      <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
        <span>Break End Music</span>
        <nb-select [(selected)]="selectedBreakEndMusic">
          <nb-option value="phoneRing">phoneRing</nb-option>
          <nb-option value="piano">piano</nb-option>
        </nb-select>
      </div>
    </nb-card-body>

    <nb-card-footer>
      <div fxLayoutAlign="end">
        <button nbButton status="danger" size="small" (click)="ref.close()">
          Close
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!-- 音樂播放 -->
<audio #audioPlayer>
  <source [src]="'assets/audio/stage1/' + audio + '.mp3'" type="audio/mpeg" />
</audio>
