<header class="song-header">
  <div class="image">
    <div class="image-container">
      <a
        href="https://www.kkbox.com/tw/tc/album/LYJbXMhSCNxEsOCnV1"
        title="一直都在 - 《我的麻吉4個鬼》電影主題曲"
      >
        <img
          src="https://i.kfs.io/album/global/260324867,2v1/fit/500x500.jpg"
          alt="一直都在 - 《我的麻吉4個鬼》電影主題曲"
          width="500"
          height="500"
        />
      </a>
    </div>
  </div>
  <div class="label">歌曲</div>
  <div class="title">
    <h1>一直都在 - 《我的麻吉4個鬼》電影主題曲</h1>
  </div>
  <div class="artist">
    <a
      href="https://www.kkbox.com/tw/tc/artist/OtsrWghrlH1BMR9iTA"
      title="韋禮安 (WeiBird)"
    >
      <img
        src="https://i.kfs.io/artist/global/40703,0v18/fit/160x160.jpg"
        alt="韋禮安 (WeiBird)"
      />
      韋禮安 (WeiBird)
    </a>
  </div>
  <div class="buttons"></div>
</header>

<main class="track-content">
  <div fxLayout="row" fxLayoutGap="8px">
    <aside class="album-info">
      <h2>出自專輯</h2>

      <div class="album-name"></div>

      <div class="release">2023/08/15</div>
    </aside>

    <section class="lyrics"></section>
  </div>
</main>
