<nb-layout>
  <nb-layout-column class="open" *ngIf="showOpenBtn">
    <div class="menu-open-button">
      <button nbButton (click)="toggleMenu()">
        <nb-icon icon="arrowhead-right-outline"> </nb-icon>
      </button>
    </div>
  </nb-layout-column>

  <nb-layout-column
    class="left"
    [@slideAnimation]="menuCollapsed ? 'collapsed' : 'expanded'"
    (@slideAnimation.start)="onAnimationStart($event)"
    (@slideAnimation.done)="onAnimationDone($event)"
  >
    <div class="menu-container">
      <div class="menu-close-button">
        <button nbButton (click)="toggleMenu()">
          <nb-icon icon="arrowhead-left-outline"> </nb-icon>
        </button>
      </div>

      <nb-menu class="menu" [items]="items"> </nb-menu>
    </div>
  </nb-layout-column>

  <nb-layout-column class="right">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
