@keyframes move-slideshow {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes move-back {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.title {
  color: white;
  font-size: xx-large;
  margin: 50px;
}

.rotation {
  display: flex;
  justify-content: center;
  width: 1510px;
  margin: 0 auto 50px;  //  3個值(上 左右 下)
  position: relative;
  overflow: hidden;

  .bg-images {
    display: flex;
    position: absolute;
    overflow: hidden;
    height: 278px;
    top: 70px;
    left: calc(50% - 755px);
    z-index: 0;

    .unit {
      position: relative;
      width: 278px;
      height: 100%;
      margin-right: 30px;
    }
  }

  .player {
    position: relative;
    width: 303px;
    z-index: 1;
  }

  .playing {
    display: flex;
    position: absolute;
    top: 70px;
    left: calc(50% - 755px);
    width: 278px;
    z-index: 2;

    .song-group {
      width: 278px;
      margin-right: 30px;
      opacity: 0;

      &.active {
        transition: opacity 2s linear 1s;
        opacity: 1;
      }
    }
  }
}

.slideshow {
  display: flex;
  width: 100%;
  overflow: hidden;

  .moving {
    display: flex;
    animation: move-slideshow 30s linear infinite;

    .group {
      width: 224px;
      height: 224px;
      margin-right: 20px;

      img {
        aspect-ratio: 1;
        height: auto;
        width: 100%;
        border-radius: 8px;
      }
    }
    &:hover {
      animation-play-state: paused;
    }
  }
}
