<div fxFill fxLayout="column" style="background-color: black">
  <div class="rotation">
    <div class="bg-images" [@slideAnimation]="animationState">
      <div class="unit">
        <img src="assets/image/stage3/500x500.jpg" width="278" height="278" />
      </div>
      <div class="unit">
        <img
          src="assets/image/stage3/500x500 (1).jpg"
          width="278"
          height="278"
        />
      </div>
      <div class="unit">
        <img
          src="assets/image/stage3/500x500 (2).jpg"
          width="278"
          height="278"
        />
      </div>
      <div class="unit">
        <img
          src="assets/image/stage3/500x500 (3).jpg"
          width="278"
          height="278"
        />
      </div>
      <div class="unit">
        <img
          src="assets/image/stage3/500x500 (4).jpg"
          width="278"
          height="278"
        />
      </div>

      <div class="unit">
        <img src="assets/image/stage3/500x500.jpg" width="278" height="278" />
      </div>

      <div class="unit">
        <img
          src="assets/image/stage3/500x500 (1).jpg"
          width="278"
          height="278"
        />
      </div>

      <div class="unit">
        <img
          src="assets/image/stage3/500x500 (2).jpg"
          width="278"
          height="278"
        />
      </div>

      <div class="unit">
        <img
          src="assets/image/stage3/500x500 (3).jpg"
          width="278"
          height="278"
        />
      </div>

      <div class="unit">
        <img
          src="assets/image/stage3/500x500 (4).jpg"
          width="278"
          height="278"
        />
      </div>
    </div>
    <img class="player" src="assets/image/stage3/mobile-player.png" />
    <div class="playing" [@test]="animationState">
      <div
        [class]="
          animationState === 'state3' ? 'song-group active' : 'song-group'
        "
      >
        <img src="assets/image/stage3/500x500.jpg" width="278" height="278" />
      </div>
      <div
        [class]="
          animationState === 'state4' ? 'song-group active' : 'song-group'
        "
      >
        <img
          src="assets/image/stage3/500x500 (1).jpg"
          width="278"
          height="278"
        />
      </div>
      <div
        [class]="
          animationState === 'initial' || animationState === 'state5'
            ? 'song-group active'
            : 'song-group'
        "
      >
        <img
          src="assets/image/stage3/500x500 (2).jpg"
          width="278"
          height="278"
        />
      </div>
      <div
        [class]="
          animationState === 'state1' ? 'song-group active' : 'song-group'
        "
      >
        <img
          src="assets/image/stage3/500x500 (3).jpg"
          width="278"
          height="278"
        />
      </div>
      <div
        [class]="
          animationState === 'state2' ? 'song-group active' : 'song-group'
        "
      >
        <img
          src="assets/image/stage3/500x500 (4).jpg"
          width="278"
          height="278"
        />
      </div>
    </div>
  </div>

  <div class="slideshow" style="height: 1000px">
    <div class="moving">
      <div class="group">
        <img src="assets/image/stage3/300x300.jpg" width="99" height="99" />
      </div>
      <div class="group">
        <img src="assets/image/stage3/300x300 (1).jpg" width="99" height="99" />
      </div>
      <div class="group">
        <img src="assets/image/stage3/300x300 (2).jpg" width="99" height="99" />
      </div>
      <div class="group">
        <img src="assets/image/stage3/300x300 (3).jpg" width="99" height="99" />
      </div>
      <div class="group">
        <img src="assets/image/stage3/300x300 (4).jpg" width="99" height="99" />
      </div>
      <div class="group">
        <img src="assets/image/stage3/300x300 (5).jpg" width="99" height="99" />
      </div>
      <div class="group">
        <img src="assets/image/stage3/300x300 (6).jpg" width="99" height="99" />
      </div>
      <div class="group">
        <img src="assets/image/stage3/300x300 (7).jpg" width="99" height="99" />
      </div>
      <div class="group">
        <img src="assets/image/stage3/300x300 (8).jpg" width="99" height="99" />
      </div>
      <div class="group">
        <img src="assets/image/stage3/300x300 (9).jpg" width="99" height="99" />
      </div>
      <div class="group">
        <img
          src="assets/image/stage3/300x300 (10).jpg"
          width="99"
          height="99"
        />
      </div>
      <div class="group">
        <img
          src="assets/image/stage3/300x300 (11).jpg"
          width="99"
          height="99"
        />
      </div>

      <div class="group">
        <img src="assets/image/stage3/300x300.jpg" width="99" height="99" />
      </div>
      <div class="group">
        <img src="assets/image/stage3/300x300 (1).jpg" width="99" height="99" />
      </div>
      <div class="group">
        <img src="assets/image/stage3/300x300 (2).jpg" width="99" height="99" />
      </div>
      <div class="group">
        <img src="assets/image/stage3/300x300 (3).jpg" width="99" height="99" />
      </div>
      <div class="group">
        <img src="assets/image/stage3/300x300 (4).jpg" width="99" height="99" />
      </div>
      <div class="group">
        <img src="assets/image/stage3/300x300 (5).jpg" width="99" height="99" />
      </div>
      <div class="group">
        <img src="assets/image/stage3/300x300 (6).jpg" width="99" height="99" />
      </div>
      <div class="group">
        <img src="assets/image/stage3/300x300 (7).jpg" width="99" height="99" />
      </div>
      <div class="group">
        <img src="assets/image/stage3/300x300 (8).jpg" width="99" height="99" />
      </div>
      <div class="group">
        <img src="assets/image/stage3/300x300 (9).jpg" width="99" height="99" />
      </div>
      <div class="group">
        <img
          src="assets/image/stage3/300x300 (10).jpg"
          width="99"
          height="99"
        />
      </div>
      <div class="group">
        <img
          src="assets/image/stage3/300x300 (11).jpg"
          width="99"
          height="99"
        />
      </div>
    </div>
  </div>
</div>
