<div fxLayout="column" fxLayoutGap="8px">
  <span class="title">{{ title }}</span>
  <span (click)="onNextClick(content1)">{{ content1 }}</span>
  <span (click)="onNextClick(content2)">{{ content2 }}</span>

  <span>得分:{{ score }}</span>
</div>

<div *ngIf="idx === test.length; then anotherWord"></div>

<ng-template #anotherWord>
  <div>完成拉</div>
</ng-template>

<!-- <div fxLayout="row" fxLayoutGap="4px">
  <button nbButton status="primary" (click)="onPreClick()">上一題</button>

  <button nbButton status="primary" (click)="onNextClick()">下一題</button>
</div> -->
