<div fxFill fxLayout="column" fxLayoutGap="8px">
  <div fxFlex class="background" fxLayout="column" fxLayoutGap="8px">
    <div class="online">
      <span>線上人數：{{ online }}</span>
    </div>

    <div #content class="content" fxLayout="column" fxLayoutGap="8px">
      <div #message *ngFor="let message of messages">
        <span [class]="message.type !== 'message' ? 'notMessage' : 'messgae'">
          {{ message.text }}
        </span>
      </div>
    </div>

    <div class="input" fxLayout="row" fxLayoutGap="4px">
      <input
        nbInput
        [fullWidth]="true"
        [disabled]="!login"
        [(ngModel)]="sendMsg"
        (keyup.enter)="sendMessage()"
      />
      <button nbButton (click)="sendMessage()" [disabled]="!login">Send</button>
    </div>
  </div>

  <ng-template #dialog let-data let-ref="dialogRef">
    <nb-card accent="info">
      <nb-card-header>
        <font size="+2"><b>請輸入暱稱</b></font>
      </nb-card-header>

      <nb-card-body fxLayout="column" fxLayoutGap="8px">
        <input
          nbInput
          [fullWidth]="true"
          [(ngModel)]="nickName"
          (keyup.enter)="startChat()"
        />
        <button nbButton status="primary" (click)="startChat()">
          開始聊天
        </button>
      </nb-card-body>
    </nb-card>
  </ng-template>
</div>
