<div *ngIf="join$ | async" fxFill fxLayout="column" fxLayoutGap="8px">
  <div fxFlex class="background" fxLayout="column" fxLayoutGap="8px">
    <div class="online">
      <app-usercount
        [user]="user"
        [onlineList]="onlineList"
        (invite)="invitePrivateMessage($event)"
      ></app-usercount>
    </div>

    <nb-tabset #tabset fxFill (changeTab)="onChangeTab($event)">
      <nb-tab
        #tab
        *ngFor="let room of roomList"
        [tabTitle]="room.roomName"
        [badgeDot]="!room.check"
        badgeStatus="danger"
      >
        <div #content class="content" fxLayout="column" fxLayoutGap="24px">
          <div #messageContent *ngFor="let message of messages[currectRoomId]">
            <ng-container *ngIf="message.type === 'message'">
              <div
                fxLayout="column"
                [class]="
                  message.userName === this.user.userName ? ' right' : ' left'
                "
              >
                <span class="name">
                  {{ message.userName }}
                </span>

                <div>
                  <span class="text">
                    {{ message.text }}
                  </span>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="message.type === 'notify'">
              <span class="notify">
                {{ message.userName + " " + message.text }}
              </span>
            </ng-container>

            <ng-container *ngIf="message.type === 'invite'">
              <div fxLayout="column" class="invite">
                <span *ngIf="message.accept === ''">
                  {{ message.userName }} 發送聊天邀請，是否接受?
                </span>

                <span *ngIf="message.accept === 'accept'">
                  已接受邀請，可以開始聊天囉!
                </span>

                <div
                  *ngIf="message.accept === ''"
                  fxLayout="row"
                  fxLayoutAlign="space-around"
                >
                  <button
                    nbButton
                    status="primary"
                    (click)="sendResponseForPrivateMessage(message, true)"
                  >
                    接受
                  </button>

                  <button
                    nbButton
                    status="danger"
                    (click)="sendResponseForPrivateMessage(message, false)"
                  >
                    拒絕
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </nb-tab>
    </nb-tabset>

    <div class="input" fxLayout="row" fxLayoutGap="4px">
      <input
        #inputBox
        nbInput
        autofocus
        [fullWidth]="true"
        [(ngModel)]="sendMsg"
        (keyup.enter)="sendMessage()"
      />
      <button nbButton status="primary" (click)="sendMessage()">Send</button>
      <button
        *ngIf="showLeaveBtn"
        nbButton
        status="danger"
        (click)="checkLeaveRoom()"
      >
        離開
      </button>
    </div>
  </div>
</div>
