<div *ngIf="join$ | async" fxFill fxLayout="column" fxLayoutGap="8px">
  <div fxFlex class="background" fxLayout="column" fxLayoutGap="8px">
    <div class="online">
      <span style="cursor: pointer" (click)="openOnlineListDialog()">
        線上人數：{{ online }}
      </span>
    </div>

    <nb-tabset fxFill (changeTab)="onChangeTab($event)">
      <nb-tab *ngFor="let room of roomList" [tabTitle]="room.roomName">
        <div #content class="content" fxLayout="column" fxLayoutGap="24px">
          <div #messageContent *ngFor="let message of messages[currectRoomId]">
            <ng-container
              *ngIf="message.type === 'message' || message.type === 'invite'"
            >
              <div
                fxLayout="column"
                [class]="
                  message.userName === this.user.userName ? ' right' : ' left'
                "
              >
                <span class="name">
                  {{ message.userName }}
                </span>

                <div>
                  <span class="text">
                    {{ message.text }}
                  </span>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="message.type === 'notify'">
              <span class="notify">
                {{ message.userName + " " + message.text }}
              </span>
            </ng-container>

            <ng-container *ngIf="message.type === 'invite'">
              <div fxLayout="column" class="invite">
                <span *ngIf="accept === ''">
                  {{ message.userName }} 發送聊天邀請，是否接受?
                </span>

                <span *ngIf="accept === 'accept'"
                  >已接受邀請，可以開始聊天囉!</span
                >
                <span *ngIf="accept === 'reject'">已拒絕邀請!</span>

                <div
                  *ngIf="accept === ''"
                  fxLayout="row"
                  fxLayoutAlign="space-around"
                >
                  <button
                    nbButton
                    status="primary"
                    (click)="sendResponseForPrivateMessage(message, true)"
                  >
                    接受
                  </button>

                  <button
                    nbButton
                    status="danger"
                    (click)="sendResponseForPrivateMessage(message, false)"
                  >
                    拒絕
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </nb-tab>
    </nb-tabset>

    <div class="input" fxLayout="row" fxLayoutGap="4px">
      <input
        nbInput
        [fullWidth]="true"
        [(ngModel)]="sendMsg"
        (keyup.enter)="sendMessage()"
      />
      <button nbButton (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>

<ng-template #inputNameDialog let-data let-ref="dialogRef">
  <nb-card accent="info">
    <nb-card-header>
      <font size="+2"><b>請輸入暱稱</b></font>
    </nb-card-header>

    <nb-card-body fxLayout="column" fxLayoutGap="8px">
      <input
        nbInput
        [fullWidth]="true"
        [(ngModel)]="user.userName"
        (keyup.enter)="startChat()"
      />
      <button nbButton status="primary" (click)="startChat()">開始聊天</button>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #onlineDialog let-data let-ref="dialogRef">
  <nb-card accent="info">
    <nb-card-header>
      <font size="+2"><b>在線人員</b></font>
    </nb-card-header>

    <nb-card-body fxLayoutGap="8px">
      <nb-list class="onlineList">
        <nb-list-item *ngFor="let onlineUser of onlineList">
          <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span>{{ onlineUser.userName }} {{ onlineUser.userId }}</span>
            <button
              nbButton
              status="info"
              size="small"
              [disabled]="user.userName === onlineUser.userName"
              (click)="invitePrivateMessage(onlineUser)"
            >
              私訊
            </button>
          </div>
        </nb-list-item>
      </nb-list>
      <button nbButton status="danger" (click)="closeOnlineListDialog()">
        關閉
      </button>
    </nb-card-body>
  </nb-card>
</ng-template>
