<form
  fxFlex
  fxLayout="column"
  fxLayoutGap="8px"
  [class]="'NgxEditor__Wrapper ' + mode"
  [formGroup]="form"
>
  <input
    nbInput
    fullWidth
    class="titleInput"
    formControlName="editorTitle"
    [placeholder]="form.status !== 'DISABLED' ? 'Title' : '請先新增筆記'"
    (focus)="onCheckInput()"
    (blur)="onCheckInput()"
  />

  <div class="tagContent">
    <input
      nbInput
      class="tagInput"
      formControlName="editorTag"
      fieldSize="small"
      placeholder="Add +"
      (keyup.enter)="onTagAdd()"
      (blur)="onTagAdd()"
    />

    <div *ngFor="let tag of tags" class="tag" (click)="onTagRemove(tag)">
      <span> {{ tag }} </span>
      <nb-icon icon="close-outline"></nb-icon>
    </div>
  </div>

  <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
  <ngx-editor
    formControlName="editorContent"
    [editor]="editor"
    [placeholder]="form.status !== 'DISABLED' ? 'Type Here' : '請先新增筆記'"
  ></ngx-editor>
</form>
