:host::ng-deep {
  /* to penetrate <ngx-editor> CSS styling */

  .NgxEditor {
    height: calc(100vh - 95px);
    overflow-y: scroll;
  }

  .NgxEditor__Content {
    min-height: 400px; /* make all of the editor area clickable */
  }
}
