<form
  fxFlex
  fxLayout="column"
  fxLayoutGap="8px"
  [class]="'NgxEditor__Wrapper ' + mode"
  [formGroup]="form"
>
  <input
    nbInput
    fullWidth
    class="titleInput"
    formControlName="editorTitle"
    placeholder="Title"
    (focus)="onCheckInput()"
    (blur)="onCheckInput()"
  />

  <div class="tagContent">
    <input
      nbInput
      class="tagInput"
      formControlName="editorTag"
      fieldSize="small"
      placeholder="Add +"
      (keyup.enter)="onTagAdd()"
      (blur)="onTagAdd()"
    />

    <div *ngFor="let tag of tags" class="tag" (click)="onTagRemove(tag)">
      <span> {{ tag }} </span>
      <nb-icon icon="close-outline"></nb-icon>
    </div>
  </div>

  <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
  <ngx-editor formControlName="editorContent" [editor]="editor"></ngx-editor>
</form>
