:host::ng-deep {
  .NgxEditor {
    height: calc(100vh - 135px);
    overflow-y: scroll;
  }

  .NgxEditor {
    background-color: unset;
  }

  .light {
    p {
      color: #000000;
    }
  }

  .night {
    .NgxEditor__MenuBar {
      background-color: unset;
      color: #ffffff;

      .NgxEditor__MenuItem {
        &:hover {
          background-color: #343338;
        }
      }

      .NgxEditor__Dropdown--Text {
        &:hover {
          background-color: #343338;
        }
      }
    }

    .NgxEditor__Dropdown .NgxEditor__Dropdown--DropdownMenu {
      background-color: unset;

      .NgxEditor__Dropdown--Item {
        &:hover {
          background-color: #343338;
        }
      }
    }

    p {
      color: #ffffff;
    }
  }
}

.light {
  &.NgxEditor__Wrapper {
    .titleInput {
      background-color: #eeeeee;
    }

    .tagContent {
      display: flex;
      flex-direction: row;
      align-items: center;

      .tagInput {
        width: 90px;
        text-align: center;
        border: 1px dashed #2f419b;
      }

      .tag {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 80px;
        height: 32px;

        color: #2f419b;
        background-color: #e9ebf4;
        border-radius: 5px;

        margin-left: 4px;

        span {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        nb-icon {
          min-width: 20px;
        }
      }
    }
  }
}

.night {
  &.NgxEditor__Wrapper {
    .titleInput {
      background-color: #26252a;
      color: #ffffff;
    }

    .tagContent {
      display: flex;
      flex-direction: row;
      align-items: center;

      .tagInput {
        width: 90px;
        text-align: center;
        border: 1px dashed #fed32c;
        background-color: #26252a;
        color: #ffffff;
      }

      .tag {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 80px;
        height: 32px;

        color: #fed32c;
        background-color: #343338;
        border-radius: 5px;

        margin-left: 4px;

        span {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        nb-icon {
          min-width: 20px;
        }
      }
    }
  }
}
