<div class="main" fxLayout="row" fxLayoutGap="12px">
  <div class="orderInfo">
    <p class="info_head">訂單資訊</p>

    <span class="info_sub">商品名稱 :</span>
    <p>Iphone XR手機殼 x1</p>

    <span class="info_sub">訂單編號 :</span>
    <p>17485739</p>

    <span class="info_sub">訂單金額 :</span>
    <p>NT$ 600</p>
  </div>

  <div class="step">
    <nb-stepper #stepper disableStepNavigation>
      <nb-step label="選擇付款方式">
        <div class="title">
          <div class="line"></div>
          <p>STEP1. 選擇付款方式</p>
        </div>

        <div class="cards" fxLayout="row wrap" fxLayoutAlign="center center">
          <div
            nbTooltip="頁面將跳轉至對應之金融機構頁面進行後續交易"
            *ngFor="let card of cards"
            [class]="isActive(card.name) ? 'card active' : 'card'"
            (click)="setActive(card.name)"
          >
            <div class="cardImg">
              <img [src]="card.image" width="110" height="110" />
            </div>
            <span class="cardText">{{ card.name }}</span>
          </div>
        </div>

        <div fxLayoutAlign="end">
          <button nbButton class="nextBtn" (click)="checkPayType()">
            下一步
          </button>
        </div>
      </nb-step>

      <nb-step label="填寫付款資訊">
        <div class="title">
          <div class="line"></div>
          <p>STEP2. 填寫付款資訊</p>
        </div>

        <card-form
          *ngIf="activeOption === '信用卡/金融卡' || activeOption === '銀聯卡'"
          (prev)="prevStep($event)"
          (next)="nextStep($event)"
        ></card-form>

        <shop-form
          *ngIf="activeOption === '超商付款'"
          (prev)="prevStep($event)"
          (next)="nextStep($event)"
        ></shop-form>

        <atm-form
          *ngIf="activeOption === 'Web ATM' || activeOption === 'ATM 轉帳'"
          (prev)="prevStep($event)"
          (next)="nextStep($event)"
        ></atm-form>
      </nb-step>

      <nb-step label="付款成功">
        <div class="title">
          <div class="line"></div>
          <p>您的訂單已完成付款</p>
        </div>
        <div fxLayout="column">
          <div class="finish">
            <img
              src="assets/image/stage4/finish.svg"
              width="160"
              height="160"
            />
          </div>

          <span class="checkText">稍後將寄送訂單詳細資訊至您的E-mail</span>

          <div fxLayoutAlign="end">
            <button nbButton class="nextBtn" (click)="stepper.reset()">
              返回商店
            </button>
          </div>
        </div>
      </nb-step>
    </nb-stepper>
  </div>
</div>
